.container {
    display: flex;
    flex-direction: column;
    background-color: #FFF3DF;
    padding: 35px;
    width: 100%;
    max-width: 500px;
    margin: 0 30px 30px;
    gap: 30px;
}

.datosContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.input {
    font-family: inherit;
    background: none;
    padding: 15px;
    border-color: #808080;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

.compraContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.valueButton {
    background: none;
    border-width: 1px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: black;
}

.cantRifas {
    width: 40px;
    height: 40px;
    background-color: #FFCE80;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mpButton {
    width: 100%;
    background-color: #FD8B37;
    font-size: 22px;
    height: 52px;
    border: none;
    font-family: inherit;
    margin-top: 20px;
    color: black;
}

.loader {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 5px solid rgba(255, 255, 255, 0.38);
    border-bottom-color: #000000;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
