.header {
    display: flex;
    justify-content: center; /* Centers the items vertically */
    align-items: center; /* Centers the items horizontally */
    width: 100%;
    background-color: #FD8B37;
    height: 80px;
}

.header img {
    height: 60%;
    padding: 10px;
    object-fit: cover;
}
