.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 80px;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 80px;
}
